<div class="relative flex flex-col h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
  <table class="text-left table-fixed" id="books-table">
    <thead>
      <tr>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Title</th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Author</th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Description</th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Categories</th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Image</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%# book["id"]%>
        <% authors = book["volumeInfo"]["authors"].nil? ? "-" : book["volumeInfo"]["authors"].join(",")  %>
        <% categories = book["volumeInfo"]["categories"].nil? ? "-" : book["volumeInfo"]["categories"].join(",")  %>
        <% image_url = book["volumeInfo"]["imageLinks"] ? book["volumeInfo"]["imageLinks"]["smallThumbnail"] : "" %>
        <tr>
          <td class="p-4 border-b border-blue-gray-50"><%= book["volumeInfo"]["title"] %></td>
          <td class="p-4 border-b border-blue-gray-50"><%= authors %></td>
          <td class="p-4 border-b border-blue-gray-50"><%= book["volumeInfo"]["description"] %></td>
          <td class="p-4 border-b border-blue-gray-50"><%= categories %></td>
          <td class="p-4 border-b border-blue-gray-50"><%= image_tag(image_url) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
