<h1><i class="fa-solid fa-book-bookmark"></i> ReadO</h1>

<%= form_with url: "/books", method: :get do |form| %>
  <%= form.label :title, "Search a book:" %>
  <%= form.text_field :title, value: @title_form %>
  <%= form.label :author, "author:" %>
  <%= form.text_field :author, value: @author_form %>

  <%= form.submit "Search" %>
<% end %>

<table class="table border-solid border-2" id="books-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <%# book["id"]%>
      <% image_url = book["volumeInfo"]["imageLinks"] ? book["volumeInfo"]["imageLinks"]["smallThumbnail"] : "" %>
      <tr>
        <td><%= book["volumeInfo"]["title"] %></td>
        <td><%= book["volumeInfo"]["authors"] %></td>
        <td><%= book["volumeInfo"]["description"] %></td>
        <td><%= book["volumeInfo"]["categories"] %></td>
        <td><%= image_tag(image_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
